body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    grid-row-start: header;
    text-align: center;
}

.controls {
    grid-row-start: controls;

    display: grid;
    grid-template-columns: [year] 25% [seats] 25% [dc] 25% [apportionment] 25%;
}

.control {
    text-align: center;
}

#voteResults
{
    grid-row-start: results;
    display: grid;
    grid-template-columns: [dem] 50% [repub] auto;
    grid-template-rows: [header] 2rem [centerBar] 10px [results] auto;
}

#candidates
{
    grid-row-start: header;
    grid-column: dem / span 2;
    height: 2rem;
    width: 100%;

    display: grid;
    grid-template-columns: [dem] 50% [repub] 50%;
}

#demCandidate
{
    grid-column-start: dem;
    width: 100%;
    text-align: left;
}

#repubCandidate
{
    grid-column-start: repub;
    width: 100%;
    text-align: right;
}

#centerBar
{
    grid-column: dem / span 2;
    grid-row-start: centerBar;
    height: 10px;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

#democratResults
{
    background-color: blue;
    color: white;
    width: 100%;
    height: 50px;
    grid-row-start: dem;
    font-size: 44px;
}

#republicanResults
{
    background-color: red;
    width: 100%;
    height: 50px;
    grid-row-start: repub;
    text-align: right;
    color: white;
    font-size: 44px;
}

.map
{
    grid-row-start: map;
    text-align: center;
}

.container {
    display: grid;
    grid-template-rows: [header] 1rem [results] 100px [controls] 1rem [map] auto;
    grid-template-columns: auto;
    grid-gap: 1rem;
}

input[type=range] {
    height: 20px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 40%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 40%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: white;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
  }
  input[type=range]::-moz-range-track {
    width: 40%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: white;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 40%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: white;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: white;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: white;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: white;
  }